:root {
  --screen-width: 100vw;
  --screen-height: calc(100vh - calc(100vh - 100%));
}

@media (max-width: 420px) {
  :root {
    --unit: 2vw;
    --spacing: 4vw;
    --cover-size: 24vw;
    --title-font-size: 6vw;
    --artist-font-size: 4vw;
    --track-height: 12vw;
  }
}

@media (min-width: 420px) {
  :root {
    --unit: 8px;
    --spacing: 16px;
    --cover-size: 96px;
    --title-font-size: 24px;
    --artist-font-size: 16px;
    --track-height: 50px;
  }
}

* {
  font-family: "Inter";
  user-select: none;
}

body {
  margin: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: var(--screen-width);
  height: var(--screen-height);
  background-color: #222;
  left: 0px;
  top: 0px;
}

#app {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: var(--screen-width);
  height: var(--screen-height);
  transition: background 0.2s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  top: 0px;
}

#app[data-ready] {
  display: flex;
}

.content {
  width: inherit;
  height: inherit;
  backdrop-filter: blur(50px);
  background-color: #fff3;
  display: flex;
  flex-direction: column;
}

.player {
  gap: var(--spacing);
  padding: var(--spacing);
  display: flex;
}

.player-cover {
  width: var(--cover-size);
  height: var(--cover-size);
  transition: background 0.2s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 20px #0004;
  border-radius: 8%;
  flex-shrink: 0;
}

.player-content {
  flex-grow: 1;
  width: calc(100% - var(--cover-size) - calc(var(--spacing) * 3));
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) * 2.5);
}

.player-details {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 0.2);
  text-shadow: 0px 0px calc(var(--unit) * 1) #0003;
}

.player-details div {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.player-title {
  color: #fff;
  font-weight: 700;
  font-size: var(--title-font-size);
}

.player-artist {
  color: #eee;
  font-size: var(--artist-font-size);
}

.player-seek {
  width: 100%;
  height: calc(var(--unit) * 2);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.player-seek-inner {
  width: 100%;
  touch-action: none;
  pointer-events: none;
  height: calc(var(--unit) * 0.5);
  transition-property: height;
  transition-duration: 0.15s;
  background-color: #fff2;
  border-radius: calc(var(--unit) * 0.5);
  overflow: hidden;
}

.player-seek:hover .player-seek-inner {
  height: calc(var(--unit) * 1.2);
}

.player-seek-value {
  background-color: #fffa;
  height: inherit;
  width: 0%;
}

.tracks {
  display: flex;
  flex-direction: column;
  margin: 0px var(--spacing) var(--spacing) var(--spacing);
  background-color: #0004;
  border-radius: var(--unit);
  overflow: hidden;
}

.track {
  height: var(--track-height);
  transition: background-color 0.15s;
  display: flex;
  cursor: pointer;
}

.track:hover {
  background-color: #0002;
}

.track[data-active] {
  background-color: #0003;
}

.track:not(:last-child) {
  box-shadow: 0px 0.5px 0px 0px #0002;
}

.track-details {
  display: flex;
  flex-direction: column;
  padding: var(--unit);
  gap: calc(var(--unit) * 0.5);
}

.track-title {
  font-size: calc(var(--unit) * 1.8);
  color: #fffe;
}

.track-artist {
  font-size: calc(var(--unit) * 1.4);
  color: #fff8;
}